@import "~bootstrap/scss/bootstrap.scss";

#traffic-light {
    background-color: black;
    height: 400px;
    width: 200px;
}

.light {
    background-color: grey;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 5px;
}

.red {
    background-color: red;
    box-shadow: 0 0 50px 30px lightcoral;
}

.yellow {
    background-color: yellow;
    box-shadow: 0 0 50px 30px yellow;
}

.green {
    background-color: green;
    box-shadow: 0 0 50px 30px yellowgreen;
}